:root {
    --brand-color: #2196F3;
    --main-color: #000000;
    --back-color: #757575;
    --add-color: #ffffff;
    --specific-color: #F5F4FA;
    --background-color: #2F303A;
    --footer-text: #ffffff66;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

.logo-link,
.nav,
.header-contact,
.footer-contact,
.location {
    text-decoration: none;
}

.list,
.list-footer {
    font-style: normal;
    list-style-type: none;
}

/*--LOGO---*/

.logo-link {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--brand-color);
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--add-color);
}

/*--HEADER---*/

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav, 
.nav:visited {
    color: var(--main-color);
}

.header-contact, 
.header-contact:visited {
    color: var(--back-color);
}

.nav:hover,
.nav:focus,
.nav:active,
.header-contact:hover,
.header-contact:focus,
.header-contact:active {
    color: var(--brand-color);
}

/*---BUTTONS---*/

[class*="button"] {
    font-family: 'Roboto', sans-serif;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--specific-color);
    border: none;
    cursor: pointer;
}

.project-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--specific-color);
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--add-color);
    background-color: var(--brand-color);
    cursor: pointer;
}

/*---STUDIO---*/

.hero {
    background-color: var(--background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--add-color);
}

.features-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.features-descript {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    color: var(--back-color);
}

.team-section,
.employment-section {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
}

.team {
    background-color: var(--specific-color);
}

.team-card {
    background-color: var(--add-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
}

.team-position {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--back-color);
}

/*---PORTFOLIO---*/

.project-card {
    border: 1px solid #EEEEEE;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-descript {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/*---FOOTER---*/

.footer {
    background-color: var(--background-color);
}

.location,
.location:visited {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--add-color);

}

.location:hover,
.location:focus,
.location:active,
.footer-contact:hover,
.footer-contact:focus,
.footer-contact:active {
    color: var(--brand-color);
}

.footer-contact, 
.footer-contact:visited {
    color: var(--footer-text);
}

