:root {
    --brand-color: #2196F3;
    --main-color: #000000;
    --back-color: #757575;
    --add-color: #ffffff;
    --specific-color: #F5F4FA;
    --background-color: #2F303A;
    --footer-text: #ffffff99;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

.logo-link,
.nav,
.main-nav,
.header-item-contact,
.footer-item-contact,
.footer-item-location {
    text-decoration: none;
}

.list,
.list-footer {
    font-style: normal;
    list-style-type: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    display:block;
}

ul {
    padding-left: 0px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

.features-container {
    padding-bottom: 47px;
}

.employment-container {
    padding-top: 47px;
}

/*----LOGO----*/

.logo-link {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--brand-color);
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--add-color);
}

/*----HEADER-----*/

.page-header-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*column-gap: 344px;*/
}

.header-nav {
    display: flex;
    align-items: center;
    column-gap: 90px;
}

.header-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav, 
.nav:visited {
    color: var(--main-color);
}

.main-nav,
.main-nav:visited {
    color: var(--brand-color);
}

.header-item-contact, 
.header-item-contact:visited {
    color: var(--back-color);
}

.header-item-contact:hover,
.header-item-contact:focus,
.header-item-contact:active {
    color: var(--brand-color);
}

/*----BUTTONS----*/

[class*="button"] {
    font-family: 'Roboto', sans-serif;
}

.hero-button {
    display: flex;
    width: 216px;
    height: 50px;
    align-items: center;
    

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--specific-color);
    border: none;
}

.project-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--specific-color);
    border: none;
}

.hero-button:hover,
.hero-button:focus,
.project-button:hover,
.project-button:focus {
    color: var(--add-color);
    background-color: var(--brand-color);
}

/*----STUDIO----*/

/*---MAIN---*/

/*--HERO-*/

.page-hero-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.hero {
    background-color: var(--background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--add-color);
}

/*--FEATURES--*/

.features-item-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.features-item-descript {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    color: var(--back-color);
}

/*--EMPLOYMENT--*/
/*--TEAM--*/

.team-title,
.employment-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
}

.team {
    background-color: var(--specific-color);
}

.team-item-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
}

.team-item-position {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--back-color);
}

/*----PORTFOLIO----*/

/*---PROJECT---*/

.project-item {
    border: 1px solid #EEEEEE;
}

.project-item-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-item-descript {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--back-color);
}

/*----FOOTER----*/

.footer {
    background-color: var(--background-color);
}

.footer-item-location,
.footer-item-location:visited {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--add-color);

}

.footer-item-location:hover,
.footer-item-location:focus,
.footer-item-location:active,
.footer-item-contact:hover,
.footer-item-contact:focus,
.footer-item-contact:active {
    color: var(--brand-color);
}

.footer-item-contact, 
.footer-item-contact:visited {
    color: var(--footer-text);
}

